
<!-- Footer start -->
<footer class="footer">

    <div class="sub-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <p class="copy">© {% now 'Y' %} <a href="#">Royal Parinde Tour and Travel</a> All Rights Reserved.</p>
                </div>
                <div class="col-lg-4">
                    <div class="social-list-2">
                        <ul>
                            <li><a href="https://www.facebook.com/Royal-Parinde-Tours-Travels-8802473038-101988548665184/" target="_blank" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://api.whatsapp.com/send?phone=918802473038&app=facebook&entry_point=page_cta&fbclid=IwAR3Z-xqw7hXtSRnrSJojlnWWSrvWtoKaQMgMLXNJE4EoMC69NT-ClnJtViw" target="_blank" class="whatsapp-bg"><i class="fa fa-whatsapp"></i></a></li>
                            <li><a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.instagram.com%2Froyal_parinde_tour_and_travel%3Fr%3Dnametag%26fbclid%3DIwAR3CC53A1yxFlMQt1_qZvXMojsnK4rtuqqEZoLKLKWiCJQLyGnktcPsMKO8&h=AT1Frn7dhH2pvb4V2b3OR3GCJ_xScx6cheueRIue5ySTgHAgsDAb8MKv6g8LbeBYcD2P5aF6DfA9FE7j3x-ij2Q8CB5S5ibjMk14O-gC2P9toUnlhB9STajYWMEuLBZYs75HUg" target="_blank" class="instagram-bg"><i class="fa fa-instagram"></i></a></li>


                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer end -->
